#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  background-color: #111;
  color: aliceblue;
}

.header-buttons {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 40px;
}
